---
import BriefcaseIcon from "@/assets/briefcase.svg";

interface Props {
    title: string;
    description: string;
    location: string;
    isRemote: boolean;
    company: string;
    duration: string;
    technologies: string[];
}

const { title, description, location, isRemote, company, duration, technologies } = Astro.props as Props;
---
<div class="relative border border-gray-200 rounded-lg p-4 md:p-6 bg-white shadow-md transition-shadow">

    <div class="hidden md:flex absolute -left-3 top-6 w-6 h-6 bg-zinc-800 rounded-full items-center justify-center">
        <BriefcaseIcon class="w-4 h-4 text-white" />
    </div>

    <div class="space-y-4">
        <div class="flex flex-col sm:flex-row sm:justify-between sm:items-start gap-2">
            <div class="space-y-1">
                <h3 class="text-gray-800 font-bold text-xl md:text-2xl">{title}</h3>
                
                <div class="flex flex-wrap items-center gap-x-2 gap-y-1 text-sm text-gray-600">
                    <span>{company}</span>
                    <span class="hidden sm:inline">•</span>
                    <span class="inline-flex items-center">{location}</span>
                    {isRemote && (
                        <>
                        <span class="hidden sm:inline">•</span>
                        <span class="inline-flex items-center rounded-full bg-green-50 px-2 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                            Remote
                        </span>
                        </>
                    )}
                </div>
            </div>

            <span class="text-sm text-gray-600 sm:text-right sm:shrink-0">{duration}</span>
        </div>

        <p class="text-sm md:text-base text-gray-700 text-justify">{description}</p>

        <div class="flex flex-wrap gap-2 justify-center sm:justify-start">
        {technologies.map((tech, i) => (
            <span class="bg-gray-200 text-gray-600 px-2 py-1 rounded-md text-sm">{tech}</span>
        ))}
        </div>
    </div>
</div>
