---
import Project from "@/components/Project.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
import {projectsTranslations} from '@/i18n/projects.ts';
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';


const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.webp');


const lang = getLangFromUrl(Astro.url);
const uiT = useTranslations(lang);
const t = projectsTranslations[lang];
---
<SectionLayout id={uiT('nav.projects').href} title={t.title}>
    <div class="flex flex-col gap-16 overflow-x-hidden">

    {t.projects.map((project, index) => {
        const imagePath = `/src/assets/${project.image}`;
        if (!images[imagePath]) {
            throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.webp"`);
        }
        const image = images[imagePath]();

        return (
            <Project title={project.name} description={project.description} tags={project.tags} imagePosition={index % 2 === 0 ? 'left' : 'right'} webLink={project.live} githubLink={project.github}>
                <Image src={image} alt={project.name} class="w-full object-cover rounded-md" />
            </Project>
        )
    })}
    </div>
</SectionLayout>
