---
import Project from "@/components/Project.astro";
import ReisDemo from "@/assets/reis-demo.png";
import EstimDemo from "@/assets/estim-demo.png";
import ApiRestDemo from "@/assets/api-rest-demo.png";
import CompilerDemo from "@/assets/compiler-demo.png";

import projects from "@/assets/my-projects.json";
---
<div class="mx-auto w-full lg:max-w-5xl overflow-hidden">
    <div class="flex w-full items-center mb-16">
        <hr class="border border-gray-300 flex-grow" />
        <h1 class="text-gray-800 font-black text-2xl md:text-4xl text-center mx-8 hover:motion-preset-confetti">Mis Proyectos</h1>
        <hr class="border border-gray-300 flex-grow" />
    </div>


    <div class="flex flex-col gap-16">
        <Project title={projects.reis.name} description={projects.reis.description} tags={projects.reis.tags} imagePosition="left" githubLink={projects.reis.github} webLink={projects.reis.live}>
            <img src={ReisDemo.src} alt="Reis Demo" class="w-full object-cover rounded-md" />
        </Project>

        <Project title={projects.estim.name} description={projects.estim.description} tags={projects.estim.tags} imagePosition="right" githubLink={projects.estim.github} webLink={projects.estim.live}>
            <img src={EstimDemo.src} alt="Estim Demo" class="w-full object-cover rounded-md" />
        </Project>

        <Project title={projects.api_rest.name} description={projects.api_rest.description} tags={projects.api_rest.tags} imagePosition="left" githubLink={projects.api_rest.github}>
            <img src={ApiRestDemo.src} alt="API REST Demo" class="w-full object-cover rounded-md" />
        </Project>

        <Project title={projects.compiler.name} description={projects.compiler.description} tags={projects.compiler.tags} imagePosition="right" githubLink={projects.compiler.github}>
            <img src={CompilerDemo.src} alt="Compiler Demo" class="w-full object-cover rounded-md" />
        </Project>

    </div>
</div>
