---
import Project from "@/components/Project.astro";
import ReisDemo from "@/assets/reis-demo.png";
import EstimDemo from "@/assets/estim-demo.png";
import ApiRestDemo from "@/assets/api-rest-demo.png";
import CompilerDemo from "@/assets/compiler-demo.png";
import SpellcheckerDemo from "@/assets/spellchecker.png";
import AutoencoderDemo from "@/assets/autoencoder.png";

import projects from "@/assets/my-projects.json";
import SectionLayout from "@/layouts/SectionLayout.astro";
---
<SectionLayout id="proyectos" title="Proyectos">
    <div class="flex flex-col gap-16 overflow-x-hidden">
        <Project title={projects.reis.name} description={projects.reis.description} tags={projects.reis.tags} imagePosition="left" webLink={projects.reis.live}>
            <img src={ReisDemo.src} alt="Reis Demo" class="w-full object-cover rounded-md" />
        </Project>

        <Project title={projects.estim.name} description={projects.estim.description} tags={projects.estim.tags} imagePosition="right" githubLink={projects.estim.github} webLink={projects.estim.live}>
            <img src={EstimDemo.src} alt="Estim Demo" class="w-full object-cover rounded-md" />
        </Project>

        <Project title={projects.api_rest.name} description={projects.api_rest.description} tags={projects.api_rest.tags} imagePosition="left" githubLink={projects.api_rest.github} webLink={projects.api_rest.live}>
            <img src={ApiRestDemo.src} alt="API REST Demo" class="w-full object-cover rounded-md" />
        </Project>

        <Project title={projects.compiler.name} description={projects.compiler.description} tags={projects.compiler.tags} imagePosition="right" githubLink={projects.compiler.github}>
            <img src={CompilerDemo.src} alt="Compiler Demo" class="w-full object-cover rounded-md" />
        </Project>

        <Project title={projects.spellchecker.name} description={projects.spellchecker.description} tags={projects.spellchecker.tags} imagePosition="left" githubLink={projects.spellchecker.github}>
            <img src={SpellcheckerDemo.src} alt="Spellchecker Demo" class="w-full object-cover rounded-md" />
        </Project>

        <Project title={projects.autoencoder.name} description={projects.autoencoder.description} tags={projects.autoencoder.tags} imagePosition="right" webLink={projects.autoencoder.live}>
            <img src={AutoencoderDemo.src} alt="Autoencoder Demo" class="w-full object-cover rounded-md" />
        </Project>

    </div>
</SectionLayout>
