---
import GithubMark from '@/assets/github-mark.svg';
import WebsiteMark from '@/assets/website.svg';

interface Props {
    title: string;
    description: string;
    tags: string[];
    imagePosition: 'left' | 'right';
    githubLink?: string;
    webLink?: string;
};

const {title, description, tags, imagePosition, githubLink, webLink} = Astro.props as Props;
---

<div class={`opacity-0 intersect:translate-x-0 intersect:opacity-100 transition-all ease-out duration-300 intersect-half flex items-center gap-4 md:gap-8 ${imagePosition === 'right' ? 'flex-row-reverse translate-x-40' : '-translate-x-40'}`}>
    <!-- Imagen -->
    <div class="w-full md:w-[500px;] flex-shrink-0 aspect-w-16 aspect-h-9">
        <slot />
    </div>

    <!-- Contenido -->
    <div class="flex-1 flex flex-col gap-4">

        <div class="flex gap-2">
            <h1 class="text-gray-800 font-bold text-xl md:text-4xl text-left">{title}</h1>

            {githubLink &&
            <a class="hover:scale-95 rounded-full hover:shadow-lg hover:shadow-white/30" href={githubLink}><GithubMark width={48} height={48} /></a>
            }

            {webLink &&
            <a class="hover:scale-95 rounded-full hover:shadow-lg hover:shadow-white/30" href={webLink}><WebsiteMark width={48} height={48} /></a>
            }

        </div>

        <span class="text-lg text-gray-700"><Fragment set:html={description} /></span>

        <div class="flex gap-2 flex-wrap">
            {tags.map(tag => (
                <span class="bg-gray-200 text-gray-600 px-2 py-1 rounded-md">{tag}</span>
            ))}
        </div>

    </div>
</div>
