---
import GithubMark from '@/assets/github-mark.svg';
import WebsiteMark from '@/assets/website.svg';

interface Props {
    title: string;
    description: string;
    tags: string[];
    imagePosition: 'left' | 'right';
    githubLink?: string;
    webLink?: string;
};

const {title, description, tags, imagePosition, githubLink, webLink} = Astro.props as Props;
---

<div class={`opacity-0 intersect:translate-x-0 intersect:opacity-100 transition-all ease-out duration-300 flex flex-col lg:flex-row items-center gap-4 lg:gap-8 overflow-hidden ${imagePosition === 'right' ? 'lg:flex-row-reverse translate-x-40' : '-translate-x-40'}`}>

    <!-- Contenido -->
    <div class="flex flex-col gap-4 text-center lg:text-left order-2 lg:order-1 flex-1">
        <!-- Título y Links -->
        <div class="flex gap-2 justify-center lg:justify-start items-center align-middle lg:items-start">
            <h1 class="text-gray-800 font-bold text-3xl md:text-4xl" aria-label="Titulo del proyecto">{title}</h1>
            <div class="flex gap-2 items-center">
                {githubLink && (
                    <a class="hover:scale-95 rounded-full hover:shadow-lg hover:shadow-white/30" href={githubLink} aria-label="Link al repositorio de Github" target="_blank" rel="noopener noreferrer">
                        <GithubMark class="size-10" />
                    </a>
                )}
                {webLink && (
                    <a class="hover:scale-95 rounded-full hover:shadow-lg hover:shadow-white/30" href={webLink} aria-label="Link al sitio web" target="_blank" rel="noopener noreferrer">
                        <WebsiteMark class="size-10" />
                    </a>
                )}
            </div>
        </div>

        <!-- Descripción -->
        <span class="text-base md:text-lg text-gray-700 text-justify" aria-label="Descripción del proyecto">
            <Fragment set:html={description} />
        </span>

        <!-- Tags -->
        <div class="flex gap-2 flex-wrap justify-center lg:justify-start" aria-label="Etiquetas del proyecto">
            {tags.map((tag) => (
                <span class="bg-gray-200 text-gray-600 md:p-2 p-1 rounded-md">{tag}</span>
            ))}
        </div>
    </div>

    <!-- Imagen -->
    <div class="w-full sm:w-[500px] aspect-w-16 aspect-h-9 order-1 lg:order-2" aria-label="Imagen del proyecto">
        <slot />
    </div>
</div>
