---
import Button from './Button.astro';
import GithubMark from '@/assets/github-mark.svg';
import LinkedinMark from '@/assets/linkedin-mark.svg';
import MailSvg from '@/assets/mail.svg';
import {welcomeTranslations} from '@/i18n/welcome.ts';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = welcomeTranslations[lang];
---

<div class="flex flex-col ml-4 lg:ml-8">
    <h2 class="text-2xl lg:text-4xl font-bold text-white motion-preset-slide-right motion-delay-[250ms] motion-duration-500">{t.welcome}</h2>

    <div class="motion-preset-slide-right motion-delay-[600ms] motion-duration-500">
        <h1 class="py-1 md:py-4 font-sans motion-preset-typewriter-[15] motion-loop-infinite motion-duration-[3s] motion-delay-[800ms] text-transparent uppercase bg-clip-text bg-gradient-to-br to-[#562b63] from-20% via-[#e082c9] via-60% from-[#f7d8e9] to-80% leading-normal text-3xl md:text-5xl lg:text-8xl font-extrabold">{t.name}</h1>
    </div>

    <h2 class="text-2xl lg:text-4xl font-bold text-white mb-4 motion-preset-slide-right motion-delay-[1000ms] motion-duration-500">{t.role}</h2>

    <div class="flex gap-2">

        <!--CV-->
        <a href={t.cvSrc} download aria-label="Descargar CV" class="motion-preset-focus motion-delay-[1400ms] motion-duration-300">
            <Button text={t.downloadCv} />
        </a>

        <!--Github-->
        <a class="hover:scale-95 rounded-full hover:shadow-lg hover:shadow-white/30 motion-preset-focus motion-delay-[1700ms] motion-duration-300" href="https://github.com/Thesportydar" target="_blank">
            <GithubMark class="size-10 md:size-12" fill="white" />
        </a>

        <!--Linkedin-->
        <a class="hover:scale-95 rounded-xl hover:shadow-lg hover:shadow-white/30 motion-preset-focus motion-delay-[2000ms] motion-duration-300" href="https://www.linkedin.com/in/ipaladino/" target="_blank">
            <LinkedinMark class="size-10 md:size-12" fill="white" />
        </a>

        <!--Mailto-->
        <a class="hover:scale-95 rounded-2xl hover:shadow-lg hover:shadow-white/30 motion-preset-focus motion-delay-[2300ms] motion-duration-300" href="mailto:ipaladinobravo@gmail.com" aria-label="Enviar un mail" target="_blank">
            <MailSvg class="size-10 md:size-12" fill="white" />
        </a>

    </div>

</div>
