---
import Welcome from '@/components/Welcome.astro';
import Layout from '@/layouts/Layout.astro';
import About from '@/components/AboutMe.astro';
import Skills from '@/components/Skills.astro';
import MyProjects from '@/components/MyProjects.astro';
import Experience from '@/components/Experience.astro';

const { lang } = Astro.params;

export function getStaticPaths() {
    return [
        { params: { lang: 'en' } },
        { params: { lang: 'es' } },
    ]
}

---

<script src="@/scripts/local.js"></script>
<Layout lang={lang}>
    <section class="bg-black justify-center flex flex-col" style="height: calc(100vh - 3.5rem);">
        <Welcome lang={lang} />
    </section>

    <div class="bg-white py-20 lg:py-32 flex flex-col gap-16 lg:gap-32">
        <About lang={lang} />

        <Experience lang={lang} />

        <Skills lang={lang} />

        <MyProjects lang={lang} />
    </div>
</Layout>
